<footer id="footer">
	<div id="wrapper">
		<div id="left">
			<h3>Lorem ipsum</h3>
			<div>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu.
			</div>
		</div id="center">
			<div>
			<h3>Lorem ipsum</h3>
			<div>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu.
			</div>
		</div>
		<div id="right">
			<h3>Lorem ipsum</h3>
			<div>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu.
			</div>
		</div>
	</div>
	<div id="copyright">
		<p>© Fabriqué avec amour par nous</p>
	</div>
</footer>