<footer id="footer">
	<div id="wrapper">
		<div>
			<h3>Lorem ipsum</h3>
			<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu.
			</p>
		</div>
		<div>
			<h3>Lorem ipsum</h3>
			<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu.
			</p>
		</div>
	</div>
	<div id="copyright">
		<p>© Fabriqué avec amour par nous</p>
	</div>
</footer>