<div id="my_files">
	<p>Files I uploaded</p>
	<%= link_to 'All my files', media_path %>
	<div id="uploaded">
	<!-- affichage des fichiers que l'utilisateur a uploadé -->
		<% current_user.media.each do |medium| %>
			<%= render 'file_display', medium: medium %>
		<% end %>
	</div>
	<%= button_to 'Add a file', new_medium_path %>
</div>
<div id="shared_with_me">
	<p>Files shared with me</p>
	<!-- affichage des fichiers partagés avec l'utilisateur, groupe + individuel -->
	.....................................
	.....................................
</div>