<div id="search_files_results">
	<p>Results for "<%= params[:search] %>"</p>
	<!-- affichage des fichiers que l'utilisateur a uploadé -->
	<div class="files">
		<% @media.each do |medium| %>
			<%= render 'file_display', medium: medium %>
		<% end %>
	</div>
</div>