<!-- Header -->
<%= render "header" %>

<!-- Body -->
<div id="homepage">
	<div id="inscription-wrapper">
		<div id="inscription">
			<p>Not registered yet? join us now!</p>
			<h1>Inscription</h1>
			<%= render "devise/registrations/new_form" %>
		</div>
	</div>
	<div id="presentation">
	</div>
</div>

<!-- Footer -->
<%= render "footer" %>