<div id="sign_up_body">
	<div id="inscription">
		<p>Not registered yet ? join us now !</p>
		<%= render "new_form" %>
	</div>
	<div id="presentation">
		<p><strong>FilesSharing</strong> is a new service which allow you to...share you file.</br>Want to share a video with your friend, family, or the whole world ? You're at the right place !</p>
	</div>
</div>
