<!-- Header -->
<%= render "/main/header" %>

<!-- Body -->
<div id="subscription">
	<div id="inscription-wrapper">
		<div id="inscription">
			<p>I seems there is a problem...</p>
			<%= render "devise/registrations/new_form" %>
		</div>
	</div>
</div>

<!-- Footer -->
<%= render "/main/footer" %>
