<div id="menu_not_index">
  <%= render "main/menu" %>
</div>

<div id="edit_medium_wrapper">
	<div id="edit_medium_body">
		<h1 id="edit_medium_title">Edit the file</h1>
		<%= render 'form', medium: @medium %>
		<%= link_to 'Cancel', root_path, class: "cancel" %>
	</div>
</div>