<!-- Header -->
<%= render "main/header" %>

<!-- body -->
<h1>Editing Medium</h1>

<%= render 'form', medium: @medium %>

<%= link_to 'Back', root_path %>

<!-- Footer -->
<%= render "main/footer" %>