<!-- Header -->
<%= render "main/header" %>

<!-- body -->
<div id="new_medium">
	<h3>New Medium</h3>
	<%= render 'form', medium: @medium %>
	<%= link_to 'Return to your homepage', root_path %>
</div>
<!-- Footer -->
<%= render "main/footer" %>