#header{
	background-color: #272143;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;

	img{
		max-height: 100px;
	}

	#connection{
		margin-right: 10px;

		div
		{
			display: inline-block;
		}
	}
}