#header
{
	background-color: #272143;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;

	#logo
	{
		max-height: 100px;
	}

	#connection
	{
		margin-right: 10px;

		div
		{
			display: inline-block;
		}
	}

	#connected
	{
		text-align: center;
		margin-right: 10px;
	}
}