#header{
	background-color: #272143;
	height: 10vh;
	color: white;
	vertical-align: middle;
	text-align: center;

	img{
		max-height: 10vh;
		float: left;
	}

	#connection{
		float: right;
		display: flex;
  		flex-direction: column;
  		justify-content: center;
		height: 10vh;
	}
}