body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/////////////////////////
// Mise en page HEADER //
/////////////////////////
#header
{
	background-color: #F2F2F2;
	font-size: 1em;
	color: #3377ff;
	display: flex;
	justify-content: space-between;
	align-items: center;

	#logo
	{
		max-height: 80px;
		margin: 10px;
	}

	#connexion
	{
		margin-right: 10px;

		form
		{
			font-size: 0.9em;
			display: flex;
			align-items: center;

				> *
				{
					margin: 0 5px 0 0;
				}

				input
				{
					line-height: 1em;
				}

				.submit
				{
					line-height: 1.5em;
				}
		}

		a
		{
			font-size: 0.8em;
		}
	}

	#connected
	{
		text-align: center;
		font-weight: bold;
	}
}

//////////////////////////////
// Mise en page des alertes //
//////////////////////////////

#flash
{
	text-align: center;
	font-weight: bold;
}

/////////////////////////
// Mise en page FOOTER //
/////////////////////////
footer{
	background-color: #F2F2F2;

	p
	{
		font-weight: bold;
		color: #3377ff;
		margin: 10px 5px;
	}
}