#searchbox
{
	display: flex;
	justify-content: center;

	#search
	{
		width: 70%;
	}
}

#index{
	padding-bottom: 10px;
	display: flex;

	// visualisation des fichiers accessibles
	#main_div
	{
		margin: 10px 10px 0 0;
		width: 85%;
		
		> div
		{
			padding-top: 10px;
			
			p
			{
				margin: 0 0 0 20px;
				color: #272143;
				font-weight: bold
			}
		}

		#my_files, #files_visualisation
		{
			margin-bottom: 10px;

			a
			{
				text-decoration: none;
				color: blue;
			}

			#uploaded, .files
			{
				display: flex;

			}

			input
			{
				margin: 10px;
				background-color: LightSlateGray;
				color: white;
				font-weight: bold;
			}
		}
	}
}