@import "mixin";
@import "var";

#sign_up_body
{
	flex: 1;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(asset-path('homepage.jpg'));
	background-size: cover;
    background-position: center;
    flex-wrap: wrap;

    	#inscription, #presentation
    	{
			border: 1px solid $color1;
			padding: 20px;
			margin: 10px;
    	}

		#inscription
		{
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 300px;
			background-color: $color2;

			p
			{
				font-weight: bold;
			}
			

			form
			{
				display: flex;
				align-items: center;
				flex-direction: column;

				label
				{
					margin: 5px 0 2px 0;
				}

				.submit
				{
					margin-top: 10px;
				}

				input:focus
				{
					border: 2px solid #004280;
				}

			}
		}

		#presentation
		{
			width: 400px;
			background-color: $color2;

			p
			{
				text-align: justify;
				margin: 0;
			}
		}
}

