$color_main1: #F2F2F2;
$color_main2: #3377ff;
$main_background_color: rgba(102, 138, 255,0.2);
$secondary_background_color: rgb(178,196,255);
$background_color3: rgba(102, 138, 255,0.8);
$modal_wrapper_background: rgba(0, 0, 0, 0.8);